@import "./layout/advantages";
@import "./layout/contacts";
@import "./layout/features";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/mistake";
@import "./layout/program";
@import "./layout/registration";
@import "./layout/subtitles";
@import "./layout/title";
@import "./layout/teacher";
